<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.siebre.mapper.UserMapper">
	
	<!-- 定义可重用的SQL代码段，可在select中使用include引用 -->
	<sql id="userColumns">id,name,age</sql>
	
	<!-- 根据ID查询User -->
	<select id="getUserById" parameterType="int" resultType="User">
		select * from users where id=#{id}
	</select>
	
	<!-- 创建用户(Create) -->
    <insert id="addUser" parameterType="User">
        insert into users(name,age) values(#{name},#{age})
    </insert>
    
    <!-- 删除用户(Remove) -->
    <delete id="deleteUserById" parameterType="int">
        delete from users where id=#{id}
    </delete>
    
    <!-- 修改用户(Update) -->
    <update id="updateUser" parameterType="User">
        update users set name=#{name},age=#{age} where id=#{id}
    </update>
    
	<!-- 查询all User -->
	<select id="getAllUsers" parameterType="int" resultType="User">
		select * from users
	</select>
	
</mapper>